table {
    border-collapse: collapse;
    width          : 100%;
    margin         : 20px 0;
}

th,
td {
    border        : 1px solid black;
    text-align    : center;
    vertical-align: middle;
    width         : 3em;
}

tr {
    line-height: 2em;
}

.header-row td {
    font-weight     : bold;
    background-color: #dfe7df;
}

.degree-symbol {
    font-weight: bold;
}

.title-row td {
    text-align      : left;
    font-weight     : bold;
    background-color: #f4f4f4;
}

td.na {
    background-color: #f4f4f4;
}

.house {
    position          : relative;
    margin-block-start: 15em;
    --cell-size       : 4em;
    --sqrt-cell-size  : 2.828em;
    --table-offset    : -14.14em;
}

.house * {
    box-sizing: border-box;
}

.house table {
    margin     : 0;
    inline-size: auto;
}

table.f {
    position        : absolute;
    inline-size     : auto;
    top             : var(--table-offset);
    transform-origin: bottom left;
    transform       : translateX(7em) rotate(45deg);
    z-index         : -1;
}

.header-row>.技术手段 {
    inline-size: var(--cell-size);
}

table.f tr td {
    width : var(--sqrt-cell-size);
    height: var(--sqrt-cell-size);
}

.header-row td {
    inline-size: 3em;
}

tr.e td {
    height: 1.5em;
}

button,
input,
label {
    user-select: none;
    transition : background .1s ease-in-out;
}

.house input[type="checkbox"] {
    width : 0;
    height: 0;
    margin: 0;
}

.house input[type="checkbox"]+label {
    margin            : 0;
    padding           : 2px;
    margin-block-start: 2px;
    margin-block-end  : 2px;
    color             : transparent;
}

.house input[type="checkbox"]+label:hover {
    color: #444;
}

.house input[type="checkbox"]:focus+label {
    outline: 2px dotted;
}

.house input[type="checkbox"]:checked+label {
    background: #52c0527c;
    color     : black;
}

.house button {
    background: none;
    border    : none;
    margin    : 0;
    padding   : auto;
    height    : 100%;
    width     : 100%;
    font-size : 1.2em;
}

.house td:has(:is(button, textarea)) {
    padding: 0;
}

.house table.f button div {
    transform: rotate(-45deg);
}

.house td:has(button):hover {
    background-color: #dfe7dfdd;
}

.house table.f .disabled {
    pointer-events: none;
    cursor        : not-allowed;
}

textarea {
    resize    : none;
    width     : 100%;
    min-height: 6em;
    overflow  : hidden;
    margin    : 0;
}

td.wide {
    inline-size: 4em;
}

.header-row>.竞争者评价 {
    /* equal width */
    inline-size: 8%;
}